* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  /* border: 2px solid black; */
  /* background-color: aquamarine; */
}

header {
  width: 100%;
  padding: 0px 45px 0px 45px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.8);
}

.logo {
  display: flex;
  align-items: center;
}

.carrito-mobile {
  display: none;
}

.redonda {
  width: 120px;
}

.nombre {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  margin: -7.5% 0 -7.5% 0 !important;
}

h1 {
  font-family: "Segoe UI" !important;
  font-weight: bold;
  font-size: 500%;
  letter-spacing: -8px !important;
}

h2 {
  font-family: "Dancing Script", cursive;
  font: italic 55;
  font-size: 250%;
  color: #000000 !important;
  opacity: 43%;
  padding-left: 35px;
}

/* .menu {
  height: 70px;
  width: 800px;
  margin: 15px 260px 0px 0;
  padding: 18px 30px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Pristina";
  font-size: 150%;
  background-color: #cd0d0a;
} */

.navbar {
  height: 70px;
  width: 800px;
  margin: 15px 260px 0px 0;
  padding: 18px 30px;
  background-color: #cd0d0a !important;
  font-family: "Dancing Script", cursive;
}

/* .nav-item {
  background-color: white white !important;
} */

.color-boton {
  width: 110px;
  height: 45px;
  padding-top: 2px;
  background-color: #cd0d0a;
  border: 4px solid white;
  color: white;
  font-family: "Pristina" !important;
  font-size: 1.5rem;
  border-radius: 10px;
}

.color-boton:hover {
  width: 110px;
  height: 45px;
  padding-top: 2px;
  background-color: white;
  border: 4px solid white;
  color: black;
  font-weight: bolder;
  font-family: "Pristina" !important;
  font-size: 1.5rem;
}

.menu-color {
  font-size: 1.8rem;
  color: white;
  margin: 0 20px;
}

.menu-color:hover {
  color: black;
}

.inicio-color {
  font-size: 1.8rem;
  color: white;
  margin: 0 20px;
}

.inicio-color:hover {
  color: black;
}

.navegacion-color {
  font-size: 1.8rem;
  color: white;
  margin: 0 20px;
}

.navegacion-color:hover {
  color: black;
}

.desplegables-color:active {
  background-color: #cd0d0a;
}

.carrito {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tamaño {
  width: 50px;
  height: 50px;
}

.titulo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h3 {
  font-family: "Segoe UI" !important;
  font-weight: bold;
  font-size: 650%;
  letter-spacing: -8px !important;
  margin: -32px 0 -15px 0;
}

h4 {
  margin: 0 0 0 0;
  font-family: "Cambria";
  letter-spacing: 9px !important;
  margin-left: 20px;
  margin-bottom: 10px;
  opacity: 49%;
}

.d-block {
  filter: brightness(50%);
  width: 65%;
  margin-left: 340px;
}

.carousel-control-prev {
  width: 500px;
}

.carousel-control-prev-icon {
  margin-left: 50%;
}

.carousel-control-next {
  width: 500px;
}

.carousel-control-next-icon {
  margin-right: 50%;
}

.what {
  width: 50px;
  position: fixed;
  top: 70%;
  right: 10px;
}

.face {
  width: 50px;
  position: fixed;
  top: 77%;
  right: 10px;
}

.instagram {
  width: 50px;
  position: fixed;
  top: 84%;
  right: 10px;
}

.tarjeta {
  display: flex;
  display: inline-block;
  margin: 8% 0.2% 5% 1%;
  background: #f62936;
  border-radius: 2em;
  border: 1px solid black;
}

.card-title {
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 250%;
}

.card-text {
  color: white;
  font-family: "Cormorant Infant", serif;
  font-size: 1.1rem;

  height: 80px;
}

.card-text {
  padding: 5px;
  text-align: center;
}

.card-img-top {
  border-radius: 2em;
}

.boton-componente {
  display: flex;
  justify-content: center;
  background-color: #cd0d0a;
  color: white;
  font-family: "Pristina";
  font-size: 170%;
  border-radius: 2em;
  border: none !important;
}

.btn2:hover {
  background: white !important;
  color: #cd0d0a !important;
  border: none !important;
  font-weight: bolder;
}

.section-tarjetas {
  margin: 0 0 1% 12%;
}

footer {
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: "Cambria" !important;
  font-size: 12px;
}

.footer1 {
  width: 33%;
  height: 90px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer2 {
  width: 33%;
  height: 90px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer3 {
  text-align: justify;
  width: 34%;
  height: 90px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* MEDIA QUERYS */
@media screen and (max-width: 375px) {
  /* body {
    background-color: rgb(110, 10, 43);
    width: 360px;
  } */

  header {
    width: 100%;
    padding: 0px 13px 0px 1px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 7px;
  }

  .logo_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .carrito {
    display: none;
  }

  .tamaño {
    width: 35px;
    height: 35px;
    margin: 20px 0px;
  }

  .carrito-mobile {
    display: block;
  }

  .redonda {
    width: 85px;
  }

  h1 {
    font-family: "Segoe UI" !important;
    font-weight: bold;
    font-size: 270%;
    letter-spacing: -3px !important;
  }

  h2 {
    font-family: "Brush Script MT";
    font: italic 55;
    padding: 0 0 1% 10%;
    font-size: 170%;
    color: #000000 !important;
    opacity: 43%;
  }

  /* .menu {
    width: 100%;
    height: 35px;
    padding-top: 8px;
    margin-left: 6px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: "Pristina";
    font-size: 15px;
    background-color: #cd0d0a;
  } */

  .navbar {
    width: 100%;
    margin: 15px 260px 0px 0;
    padding: 18px 30px;
    background-color: white !important;
    font-family: "Pristina" !important;
  }

  .menu-container-color {
    margin-top: -5px;
    background-color: white;
  }

  .menu-color {
    font-size: 1.8rem;
    color: black;
    margin: 0 20px;
  }

  .menu-color:hover {
    color: #cd0d0a;
    font-weight: bolder;
  }

  .inicio-color {
    font-size: 1.8rem;
    color: black;
    margin: 0 20px;
  }

  .inicio-color:hover {
    color: #cd0d0a;
    font-weight: bolder;
  }

  .navegacion-color {
    font-size: 1.8rem;
    color: black;
    margin: 0 20px;
  }

  .navegacion-color:hover {
    color: #cd0d0a;
    font-weight: bolder;
  }

  .desplegables-color:active {
    background-color: #cd0d0a;
  }

  /* acaaaaaaaaaaaaaaaaaa */

  h3 {
    font-family: "Segoe UI" !important;
    font-weight: bold;
    font-size: 2.2rem;
    letter-spacing: -2px !important;
    margin: -10px 0 -8px 0;
    color: #cd0d0a;
  }

  h4 {
    font-family: "Cambria";
    letter-spacing: 1px !important;
    color: #cd0d0a;
    width: 100%;
    margin: 0px 0 20px 0;
    font-size: 0.9rem;
  }

  .d-block {
    filter: brightness(70%);
    width: 100%;
    margin-left: 0px;
  }

  .carousel-control-prev {
    width: 30px;
    /* background-color: brown; */
  }

  .carousel-control-prev-icon {
    margin-left: 50%;
    /* background-color: darkblue; */
  }

  .carousel-control-next {
    width: 30px;
    /* background-color: brown; */
  }

  .carousel-control-next-icon {
    margin-right: 50%;
    /* background-color: darkblue; */
  }

  .what {
    width: 30px;
    position: fixed;
    top: 67%;
    right: 2px;
  }

  .face {
    width: 30px;
    position: fixed;
    top: 75%;
    right: 2px;
  }

  .instagram {
    width: 30px;
    position: fixed;
    top: 83%;
    right: 2px;
  }

  .card {
    margin-left: -22px;
  }

  footer {
    width: 100%;
    font-size: 8px;
  }

  .footer1,
  .footer2,
  .footer3 {
    height: 50px;
    margin-left: 11px;
  }
}
